<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="h-screen w-screen bg-neutral-400 p-6">
      <h1 class="text-blue-500 font-semibold text-[32px] text-center">
         URL Shortener
      </h1>

      <div
        class="bg-white mx-auto my-10 py-4 px-6 w-[700px] rounded-lg shadow flex items-center justify-between"
      >
        <form method="POST" action="/" class="flex gap-4 w-full">
          <label class="font-medium font-sans flex items-center">
            Enter the original URL:
          </label>

          <input
            type="text"
            name="url"
            placeholder="https://wikipedia.org/python_example"
            class="border-2 p-2 rounded-lg flex-grow"
            required
          />

          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-600 rounded-lg px-4 text-white font-bold"
          >
            Shorten
          </button>
        </form>
      </div>

      <div class="bg-white w-[770px] mx-auto px-6 py-4 rounded-md shadow">
        <h1 class="px-[270px] pb-5 font-bold text-2xl text-gray-700">URLs</h1>
        <table class="w-full text-left border-collapse">
          <thead>
            <tr class="border-b text-gray-600 text-[16px]">
              <th class="py-2 px-4">Original URL</th>
              <th class="py-2 px-4">Shortened URL</th>
              <th class="py-2 px-4 text-center">Visits</th>
              <th class="py-2 px-4 text-center"></th>
            </tr>
          </thead>
          <tbody>
            {% for url in all_urls %}
            {% if url[1] == most_visited_site[0] %}
            <tr class="bg-gray-200">
              <td class="py-2 px-4 text-gray-700">{{url[0]}}</td>
              <td class="py-2 px-4 font-medium">
                <a
                  href="{{ url[1] }}"
                  class="text-blue-500 underline"
                  target="_blank"
                  title = "{{url[0]}}"
                >
                  {{ url[1] }}
                </a>
                
              </td>
              <td class="py-2 px-4 text-center font-medium">{{url[2]}}</td>
              <td>
                <form method="POST" action="/delete">
                  <input type="hidden" name="short_code" value="{{ url[1] }}" />
                  <button
                    type="submit"
                    class="bg-red-500 text-white px-4 py-1 rounded hover:bg-red-600"
                  >
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            {%else%}
            <tr class="hover:bg-gray-50">
              <td class="py-2 px-4 text-gray-700">{{url[0]}}</td>
              <td class="py-2 px-4 font-medium">
                <a
                  href="{{ url[1] }}"
                  class="text-blue-500 underline"
                  target="_blank"
                  title = "{{url[0]}}"
                >
                  {{ url[1] }}
                </a>
                
              </td>
              <td class="py-2 px-4 text-center font-medium">{{url[2]}}</td>
              <td>
                <form method="POST" action="/delete">
                  <input type="hidden" name="short_code" value="{{ url[1] }}" />
                  <button
                    type="submit"
                    class="bg-red-500 text-white px-4 py-1 rounded hover:bg-red-600"
                  >
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="bg-white w-[770px] h-[80px] mx-auto my-6 flex  gap-10 gapx-10">
        <div class="relative top-5 left-10 border-2 border-slate-500 rounded-lg w-[135px] h-[50px] px-4 py-2.5">
          Total urls = {{len_all_urls}}
        </div>
        <div class="relative top-5 left-10 border-2 border-slate-500 rounded-lg w-[145px] h-[50px] px-4 py-2.5">
          Total visits = {{total_visits}}
        </div>
        <div class="relative top-5 left-20 border-2 border-slate-500 rounded-lg w-[240px] h-[50px] px-5 py-2.5">
          Most visited site = {{most_visited_site[0]}}
        </div>
      </div>

    </div>
  </body>
</html>
